<launch>

    <param name="camera_depth_topic"    value="/d435/depth/image_rect_raw"/>
    <param name="config_path"           value="$(find depth_img_normal_estimation)/cfg/hardware.yaml"/>
    <param name="hardware"              value="true"/> 

    <!-- Normal Estimation -->
    <node pkg="depth_img_normal_estimation" type="normal_estimation_node" name="normal_estimation_node" output="screen">

    </node>


    <!-- Launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find go2_interface)/rviz/view_go2.rviz" output="screen"/>

</launch>